<!-- ============== About ================ -->

<div class="container">
  <h1>ABOUT</h1>
  <p>Made for the little people and moments you cherish the most, our baby bonnets are special and especially loved by the modern, sartorial parent. </p>
  <a href="/simple_pages/index" class="previous round">&#8249;</a>
</div>
