<!-- ============== About ================ -->

<div class="container">
  <h1>ABOUT</h1>
  <br>
  <p>The first time I sat at the sewing machine, was with my beloved Berlin Granny. She sewed shirts and jeans as a young girl in a small sewing shop in Kreuzberg. In the evening, all the finished pieces were delivered to the customers by bicycle.<br>
     <br>
     She is my inspiration!<br>
     <br>
     For me, sewing is above all meditation. The fact that my bonnets make others happy makes me happy!</p>
  <a href="/simple_pages/index" class="previous round">&#8249;</a>
</div>
