<table>
  <tbody>
    <tr>
      <td><h2>Welcome!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for signing up with Capeline - Finest Baby Bonnets!</p></td>
    </tr>
    <tr>
      <td><p><strong>Your Capeline Team!</strong></p></td>
    </tr>
  </tbody>
</table>
