.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/raty.eot");
  src: url("./fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("./fonts/raty.svg#raty") format("svg");
  src: url("./fonts/raty.ttf") format("truetype");
  src: url("./fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/*======= products/index (lists all products) Styles ============*/
/* line 4, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.product-listing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8rem auto 1.8rem auto;
  width: auto;
  max-width: 1400px;
  min-height: calc(81vh - 182px);
}

/* line 14, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.product-row {
  margin: 0 auto;
  width: 100%;
}

/* line 19, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.product-container {
  margin: 1rem;
  padding: 1rem 0;
  box-shadow: 2px 2px 2px lightgray;
  border: 1px solid lightgray;
  text-align: center;
  width: 31%;
}

/* line 29, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.product-container-link {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: background-color 150ms ease-out;
}
/* line 36, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.product-container-link:hover {
  background-color: rgba(211, 211, 211, 0.2);
}

/* line 41, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.product-title h3 {
  font-family: Oswald;
  font-weight: 400;
  margin-bottom: 0.3;
}

/* line 47, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.container {
  margin: 6rem auto 10rem auto;
}

/*======= products/new & products/edit Styles ============*/
/* line 53, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.product-form-container {
  width: 400px;
  margin: 0 auto;
  padding: 3rem 3rem;
  border: 1px solid #F0F1F4;
  border-radius: 2px;
  display: block;
  float: none;
}

/* line 63, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
#product_name {
  width: 100%;
}

/* line 67, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
#product_image_url {
  width: 100%;
}

/* line 71, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
#product_colour {
  width: 100%;
}

/* line 75, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
#product_price {
  width: 100%;
  margin-bottom: 20px;
}

/* line 80, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
label {
  width: auto;
  color: #777;
  margin-top: 5px;
}

/* line 86, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.form-product {
  margin: 0 auto;
}
/* line 89, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.form-product .field {
  padding: 1rem 0;
}

/* line 95, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.form-control:focus {
  border-color: rgba(107, 124, 189, 0.4);
  outline: 3px auto rgba(107, 124, 189, 0.3);
}

/* line 101, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
.btn-submit {
  display: block;
  margin: 2rem auto;
  border: 1px solid #6b7cbd;
  height: 3rem;
  font-weight: bold;
  background-color: rgba(107, 124, 189, 0.3);
}

/* line 110, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
#product_description {
  min-height: 12rem;
  height: auto;
  width: 100%;
}

/*======= products/index Media Queries ============*/
@media only screen and (max-width: 1300px) {
  /* line 119, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
  .product-container {
    width: 47%;
  }

  /* line 123, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
  .product-form-container {
    margin-top: 0;
    width: 90%;
  }
}
@media only screen and (max-width: 1030px) {
  /* line 131, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
  .product-container {
    width: 44%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 137, /home/jenny/myapp/app/assets/stylesheets/scaffolds.scss */
  .product-container {
    width: 90%;
    margin: 2rem auto;
  }
}
/* line 5, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
* {
  box-sizing: border-box;
}

/* line 11, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.container-fluid-nav {
  width: 80%;
  max-width: 1160px;
  border-bottom: 0px !important;
  margin: 0 auto;
  background-color: #F0F1F4;
  z-index: 2000;
}

/* line 20, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar-default {
  background-color: #F0F1F4;
  border-color: #F0F1F4;
}

/* line 25, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse .navbar-nav > .active > a {
  background-color: rgba(38, 86, 123, 0.8) !important;
}
/* line 28, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse .navbar-nav > .active > a:active {
  background-color: rgba(38, 86, 123, 0.8) !important;
}
/* line 32, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: rgba(38, 86, 123, 0.8) !important;
}
/* line 36, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: rgba(38, 86, 123, 0.8) !important;
}

/* line 41, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar ul li a {
  color: #696163 !important;
  font-weight: 300;
  text-transform: uppercase;
  transition: background-color 100ms;
  -webkit-transition: border-bottom 100ms;
}
/* line 48, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar ul li a:hover {
  background-color: rgba(195, 195, 195, 0.8) !important;
  transition: background-color 100ms ease-out;
}
/* line 53, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar ul li a:active {
  background-color: #ff9d61 !important;
}
/* line 57, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar ul li a:focus {
  background-color: #ff9d61 !important;
}

/* line 62, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar-toggle {
  border: 1px solid #696163 !important;
  background-color: #f0f1f4;
}
/* line 66, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar-toggle:hover {
  background-color: rgba(255, 157, 97, 0.8) !important;
}
/* line 70, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.navbar-toggle:focus {
  background-color: #ff9d61 !important;
}

/* line 75, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.icon-bar {
  background: #696163 !important;
}

/* line 79, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.index-page {
  position: absolute;
}

/* line 85, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.carousel-container {
  margin-top: 5rem;
  padding: 0 0;
}

/* line 92, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.carousel-caption {
  position: relative;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* line 103, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.carousel-inner {
  position: relative;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
}

/* line 110, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.car-image-container {
  margin-top: 50px;
}

/* line 114, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.btn-checkproduct {
  position: absolute;
  bottom: 10rem;
  z-index: 20;
}

/* line 120, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.btn-primary {
  display: block;
  font-size: 1.5rem;
  background-color: #696163;
  border-color: #696163;
  color: white;
  font-weight: 300 !important;
  text-decoration: none;
  margin: 0 auto;
  width: 12rem;
  padding: 0.4rem 0;
}
/* line 132, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.btn-primary:hover {
  background-color: #5B69A0 !important;
  box-shadow: 2px 2px 2px #424C75;
}
/* line 137, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.btn-primary a {
  color: white;
  text-decoration: none;
}

/* line 143, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.glyphicon-chevron-right,
.glyphicon-chevron-left {
  color: #696163 !important;
}

/* line 148, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.carousel-indicators > .active {
  background-color: #696163;
  margin-bottom: 45px;
}

/* line 153, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.carousel-indicators > li {
  background-color: #696163;
  margin-bottom: 45px;
}

/* line 160, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.container .sixteen.columns {
  width: 1180px;
  padding: 10px;
}

/* line 165, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
div.logo {
  padding-top: 70px !important;
}

/* line 168, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.column, .columns {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 172, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.logo {
  font-family: Kreon;
  font-weight: lighter;
  font-size: 20px;
  text-transform: uppercase;
  color: #454649;
  padding-top: 15px;
}

/* line 181, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.logo a {
  text-align: center;
  margin: 0 auto;
  display: block;
  max-width: 190px;
}

/* line 188, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.sixteen img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 196, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.about-details {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

/* line 204, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.container {
  margin: 10rem auto 10rem auto;
}

/* line 210, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.jumbotron {
  background-color: white;
  padding-top: 50px;
}

/* line 215, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
.img-cover {
  width: 100%;
}

/* line 221, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
footer {
  background-color: #eddbe2;
  color: #333;
  width: 100%;
  bottom: 0;
  height: 50px;
  padding: 10px;
  display: block;
  overflow: auto;
  text-align: center;
  float: left;
  margin-top: 50px;
  position: fixed;
  z-index: 2000;
}

@media only screen and (max-width: 1200px) {
  /* line 241, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
  .sixteen img {
    width: 70%;
  }

  /* line 245, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
  .carousel-inner {
    width: 90%;
  }

  /* line 249, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
  .carousel-container {
    margin-top: 2rem;
  }

  /* line 253, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
  .btn-checkproduct {
    bottom: 3rem;
  }

  /* line 257, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
  .carousel-indicators {
    bottom: -50px;
  }

  /* line 261, /home/jenny/myapp/app/assets/stylesheets/simple_pages.scss */
  .container {
    margin: 5rem auto 10rem auto;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */

