// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

//================= Navigation Styles ================//

.container-fluid-nav {
width: 80%;
max-width: 1160px;
border-bottom: 0px !important;
margin: 0 auto;
background-color: #F0F1F4;
z-index: 2000;
}

.navbar-default {
background-color: #F0F1F4;
border-color: #F0F1F4;
}

.navbar-inverse .navbar-nav > .active > a  {
background-color: rgba(38, 86, 123, 0.8) !important;

&:active  {
  background-color: rgba(38, 86, 123, 0.8) !important;
}

&:hover {
  background-color: rgba(38, 86, 123, 0.8) !important;
}

&:focus {
  background-color: rgba(38, 86, 123, 0.8) !important;
}
}

.navbar ul li a {
color: #696163 !important;
font-weight: 300;
text-transform: uppercase;
transition: background-color 100ms;
-webkit-transition: border-bottom 100ms;

&:hover {
  background-color: rgba(195, 195, 195, 0.8) !important;
  transition: background-color 100ms ease-out;
}

&:active {
  background-color: #ff9d61 !important;
}

&:focus {
  background-color: #ff9d61 !important;
}
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;
  }

  p {
  padding-top: 0.6rem;
}
}

.nav-logo {
  font-family: 'Pacifico', Georgia, serif;
  color: black;
  text-align: center;
  text-shadow: 1px 1px 1px #424C75;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-toggle {
  border: 1px solid #696163 !important;
  background-color: #f0f1f4;

&:hover {
  background-color: rgba(255, 157, 97, 0.8) !important;
}

&:focus {
  background-color: #ff9d61 !important;
}
}

.icon-bar {
  background: #696163 !important;
}

.index-page{
  position: absolute;
}

//================= Carousel Styles ================//

.carousel-container {
  // position: relative;
  // top: 0;
  margin-top: 5rem;
  padding: 0 0;
}

.carousel-caption {
  position: relative;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  // top: 0;
}

.carousel-inner {
  position: relative;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
}

.btn-checkproduct {
  position: absolute;
  bottom: 10rem;
  z-index: 20;
}

.btn-primary {
  display: block;
  font-size: 1.5rem;
  background-color: #696163 ;
  border-color: #696163;
  color: white;
  font-weight: 300 !important;
  text-decoration: none;
  margin: 0 auto;
  width: 12rem;
  padding: 0.4rem 0;

  &:hover {
    background-color: #5B69A0 !important;
    box-shadow: 2px 2px 2px #424C75;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
  color: #696163 !important;
}

.carousel-indicators > .active {
  background-color: #696163;
  margin-bottom: 45px;
}

.carousel-indicators > li {
  background-color: #696163;
  margin-bottom: 45px;
}


//================= About Styles ================//

.about-details {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

//================= Index Styles ================//

.img-cover{
  width: 100%;
}

//================= Contact Styles ================//

.contact-container {
  margin: 10rem auto 10rem auto;
}

//================= Jumbotron ================//

.jumbotron {
  background-color: white;
  padding-top: 50px;
}

//================= Footer Styles ================//

footer {
  background-color: #eddbe2;
  color: #333;
  width: 100%;
  bottom: 0;
  height: 50px;
  padding:10px;
  display: block;
  overflow:auto;
  text-align:center;
  float:left;
  margin-top:50px;
  position: fixed;
}
