
<div class="col-sm-1 col-md-3">
  <div class="product_Box">
  <p><%= image_tag(product.image_url, class: "img-responsive") %></p>
  <a><h1><%= product.name %></h1></a>
  <p id="p_description"><%= product.description %></p>
  
</div><!-- /product_Box -->
</div><!-- /col -->
