<!--========== Product index =============== -->

<div class="container product-listing-container">
  <div class="row product-row">
  <% cache @products do %>
    <% @products.each do |product| %>
      <%= render partial: 'product', locals: {product: product } %>
    <% end %>
  <% end %>


<%= will_paginate @products, :page_links =>true %>

  </div><!-- end row -->
</div><!-- end container -->
